{% extends "portfolio/base.html" %}
{% load staticfiles %}

{% block content %}

<div class="row">

    <div class="col-md-4">
        <div class="page-header">
            <h1>Self Help</h1>
        </div>

        <p class="lead">I created ServiceBaseV during my time at the service desk. Some content inside of ServiceBase
            is confidential so I cant demo it, however I can show the home page for the companies Self Help app
            which was modeled after my code and backed by the Microsoft SQL database I created.</p>

        <label>Tools:</label>
        <ul class="list-inline">
            <li>.Net Web Application</li>
            <li>Microsoft SQL Database</li>
            <li>JavaScript/jQuery</li>
            <li>Bootstrap CSS</li>
        </ul>
    </div>
    <div class="col-md-8">
        <img src="{% static 'portfolio/img/self-help.png' %}" class="img-responsive" alt="Responsive image">
    </div>

</div>



{% endblock %}